<strong>Olá, {{ student }}</strong>
<p>Você efetuo o cadastro de sua matrícula, confira os detalhes abaixo:</p><br />
<p>
  <strong>Bem vindo a equipe Gympoint.</strong>
</p>
<p>
  <strong>Plano: </strong> {{ title }} <br />
  <strong>Duração: </strong> {{ duration }} <br />
  <strong>Data/hora da matrícula: </strong> {{ start_date }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Preço: </strong>R$ {{ price }} <br />
  <br />
  <small>
    Agradecemos a preferência.
  </small>
</p>
